<b:style src="./item.css" />

<tr>
  <td class="name">
    <a title="{description}" href="{website}" target="_blank">{name}</a>
  </td>
  <td class="description" title="{description}">
    <p>{description}</p>
  </td>
  <td class="owner">
    {owner}
  </td>
  <td class="created">
    <time datetime="{created}">{createdAgo}</time>
  </td>
  <td class="updated">
    <time datetime="{updated}">{updatedAgo}</time>
  </td>
  <td class="forks">
    {forks}
  </td>
  <td class="stars">
    {stars}
  </td>
</tr>