<div>
  <dt>
    <a title="{description}" href="{website}" target="_blank">
      {name}
    </a>
  </dt>
  <dd title="{description}">
    <p class="component-desc">
      {description}
    </p>
  </dd>
</div>