<b:style src="./layout.css"/>
<b:define name="loading" type="bool"/>

<section id="app" class="main app_state-{loading}">
  <div id="loading">
    <p>{message}</p>
  </div>
  <div class="row view">
    <!--{featured}-->
    <!--{hot}-->
  </div>
  <!--{search}-->
  <div class="row view">
    <!--{latest}-->
    <!--{random}-->
  </div>
</section>